.features {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  max-width: 900px;
  margin: 150px auto;
}

.features__text {
  max-width: 550px;
  margin: 0 auto;
}

.features__title {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--second-text-color);
}

.features__subtitle {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 100px;
  color: var(--title-color);
}

.features__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  justify-items: center;
  justify-self: center;
}

.features__card:nth-child(3) {
  grid-column: 1 / -1;
}

.features__card {
  text-align: center;
  width: 250px;
}

.features__card-title {
  font-size: 24px;
  margin-top: 20px;
}

.features__card-text {
  font-weight: 400;
  margin-top: 20px;
  color: var(--second-text-color);
}

/* @media screen and (min-width: 600px) {
  
}

@media screen and (min-width: 918px) {
  .features__card:nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
  }
} */
